<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Train Classifier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Train Classifier</h1>
        <p>
            <a class="btn btn-primary" href="/dense_model">View Dense Model Results</a>
            <a class="btn btn-secondary" href="/cnn_model">View CNN Model Results</a>
            <a class="btn btn-success" href="/detect">Object Detection</a> <!-- Ссылка на детектирование -->
        </p>
    </div>
</body>
</html>
